body{
	background-image:url(../imgs/index/background.jpg);
	background-size:cover;
}

.title{
	margin:13% 0 4% 6%;
	color:rgb(253,205,123);
	text-shadow:#000 3px 0 0,#000 0 3px 0,#000 -3px 0 0,#000 0 -3px 0;
	-webkit-text-shadow:#000 3px 0 0,#000 0 3px 0,#000 -3px 0 0,#000 0 -3px 0;
	-moz-text-shadow:#000 3px 0 0,#000 0 3px 0,#000 -3px 0 0,#000 0 -3px 0;
}
.title h1{
	font-size:20px;
	font-size:8rem;
	margin:0;
}
.title p{
	font-size:14px;
	font-size:4.4rem;
}
.container{
	clear:both;
	margin:0 12.5%;

}
.container div{
	display:inline-block;
	width:36%;
}
.container div img{
	width:100%;
	margin-bottom:7%;
	opacity:.9;
}